@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: hsl(237, 49%, 15%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    font-family: "Barlow Semi Condensed", sans-serif;
    height: 100vh;
}

.main {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.options-score {
    border: 1px solid rgb(148, 148, 148);
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
}

.score-container {
    text-align: center;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 0px 1px hsl(217, 16%, 45%);
    height: 100%;
}

.score-label  {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 0px;
    color: hsl(229, 64%, 46%);
}

.score {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
    color: hsl(229, 25%, 31%);
}


.options {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options > * {
    margin: 0;
    font-size:30px;
    font-weight: 700;
    color: white;
    line-height: 25px;
    transition: 0.2s;
    text-shadow: 0px 2px 0px rgb(95, 95, 95);
    width: fit-content;
}

.options > *:hover {
    color: rgb(190, 166, 114);
    cursor: pointer;
    transform: scale(1.1);
}











/* Selection Screen */



.select-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 600px;
}

.select-start {
    text-align: center;
    width: 400px;
    margin-bottom: 70px;
    font-size: 35px;
    font-weight: 700;
    color: white;

    animation-name: textFloat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes textFloat {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20px);
    }
}

.game-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.game-icons > * {
    margin: 15px 15px 15px 15px;
}

.game-icons > *:hover {

    transform: scale(1.1);
}


.game-icons > *:active {
    transform: scale(0.9);
}


.lizardIcon {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 0px 3px hsl(261, 76%, 26%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset, 0px 3px 0px 65px rgba(138, 138, 138, 0.1), 0px 3px 0px 125px rgba(109, 109, 109, 0.2), 0px 3px 0px 185px rgba(124, 124, 124, 0.1);
    border: 20px solid hsl(261, 69%, 48%);
    border-radius: 100%;
    background-image: url("./images/icon-lizard.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;
}

.spockIcon {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(189, 60%, 29%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 20px solid hsl(189, 59%, 53%);
    border-radius: 100%;
    background-image: url("./images/icon-spock.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;


    animation-delay: 0.4s;
}

.rockIcon {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(349, 83%, 31%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 20px solid hsl(349, 98%, 41%);
    border-radius: 100%;
    background-image: url("./images/icon-rock.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;


    animation-delay: 0.8s;
}

.paperIcon {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(230, 74%, 35%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 20px solid hsl(230, 80%, 53%);
    border-radius: 100%;
    background-image: url("./images/icon-paper.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;


    animation-delay: 1.2s;
}


.scissorsIcon {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(39, 89%, 36%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 20px solid hsl(40, 84%, 53%);
    border-radius: 100%;
    background-image: url("./images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;
    


    animation-delay: 1.6s;
}




.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
    position: relative;
}

.footer > button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
}


















/* Initiated Selection Animations */ 


/* Longest animation time in this sequence 2s */

.select-start-remove {
    text-align: center;
    width: 400px;
    margin-bottom: 70px;
    font-size: 35px;
    font-weight: 700;
    color: white;


    animation-name: selectStartRemove;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}



.lizardIcon-select {
    animation-name: initiatedSelect;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.spockIcon-select {
    animation-name: initiatedSelect;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.rockIcon-select {
    animation-name: initiatedSelect;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.paperIcon-select {
    animation-name: initiatedSelect;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.scissorsIcon-select {
    animation-name: initiatedSelect;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}



@keyframes initiatedSelect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes selectStartRemove {
    0% {
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}













/* Game section after selection */


.select-screen-remove {
    display: none;
}

.add-game-screen {
    display: flex;
    visibility: visible;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 600px;
}



.game {
    display: none;
    visibility: hidden;
}   


.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.result-container > button {
    transition: 0.2s ease-in-out;
}

.result-container > button:hover {
    transform: scale(1.1);
    cursor: pointer;
}











/* Result inital state */

.result-text-inital {
    width: 0px;
    visibility: hidden;
}

.result-btn-initial {
    width: 0px;
    visibility: hidden;
}














/* User initial state */


.user-choice {
    text-align: center;
}

.user-choice > p {
    font-weight: 700px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
}






.unselected {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #17223e;
    box-shadow: 0px 5px 0px 3px #131c33;
}

.computer-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.computer-choice > p {
    font-weight: 700px;
    margin-bottom: 40px;
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
}

.computer-choice > img {
    width: 150px;
    padding: 50px;
    background-color: white;
    border-radius: 100%;
    border: 30px solid hsl(40, 84%, 53%);
    box-shadow: 0px 5px 0px 3px hsl(39, 89%, 36%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
}

















/* Active States */


.active-result-text {
    font-size: 55px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 2px 0px rgb(95, 95, 95);
    letter-spacing: 3px;
    position: relative;
    visibility: visible;
    width: fit-content;
    margin: 0px 40px 30px 40px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}

.active-play-btn {
    padding: 15px 50px 15px 50px;
    font-weight: 600;
    color: hsl(229, 25%, 31%);
    background-color: white;
    border: none;
    box-shadow: 0px 1px 0px 1px hsl(229, 25%, 31%);
    border-radius: 5px;
    visibility: visible;
    width: 200px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
}




@keyframes selectedAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}








/* Scissors Active State */

.scissors-selected {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 40px;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 0px 3px hsl(39, 89%, 36%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 30px solid hsl(40, 84%, 53%);
    background-image: url("./images/icon-scissors.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}





/* Paper Active State */

.paper-selected {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(230, 74%, 35%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 30px solid hsl(230, 80%, 53%);
    background-image: url("./images/icon-paper.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}




/* Rock Active State */ 

.rock-selected {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(349, 83%, 31%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 30px solid hsl(349, 98%, 41%);
    background-image: url("./images/icon-rock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}



/* Lizard Active State */ 

.lizard-selected {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 40px;
    background-color: white;
    position: relative;
    box-shadow: 0px 5px 0px 3px hsl(261, 76%, 26%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 30px solid hsl(261, 69%, 48%);
    background-image: url("./images/icon-lizard.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}


/* Spock Active State */

.spock-selected {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 5px 0px 3px hsl(189, 60%, 29%), 0px 5px 0px 3px hsl(43, 5%, 72%) inset;
    border: 30px solid hsl(189, 59%, 53%);
    background-image: url("./images/icon-spock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    animation-name: selectedAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease-in;
}





/* Winning Style */ 






